apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  DB_USER: "REPLACE_WITH_DB_USER"
  DB_PASSWORD: "REPLACE_WITH_DB_PASSWORD"
  DB_NAME: "REPLACE_WITH_DB_NAME"
  POSTGRES_USER: "REPLACE_WITH_POSTGRES_USER"
  POSTGRES_PASSWORD: "REPLACE_WITH_POSTGRES_PASSWORD"
  POSTGRES_DB_NAME: "REPLACE_WITH_POSTGRES_DB_NAME"
